<!DOCTYPE HTML>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>SimFinesse</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
</head>

<body>
    <form action="createUser" method="POST">
        dialogs : <input type="text" name="dialogs" value=<%= user.User.dialogs  %>> <br>
        extension : <input type="text" name="extension" value=<%= user.User.extension  %>> <br>
        firstName : <input type="text" name="firtName" value=<%= user.User.firstName  %>> <br>
        lastName : <input type="text" name="lastName" value=<%= user.User.lastName  %>> <br>
        loginId : <input type="text" name="loginId" value=<%= user.User.loginId  %>> <br>
        loginName : <input type="text" name="loginName" value=<%= user.User.loginName  %>> <br>
        mediaType : <input type="text" name="mediaType" value=<%= user.User.mediaType  %>> <br>
        pendingState : <input type="text" name="pendingState"value=<%= user.User.pendingState  %>> <br>
        roles{ <br>
                role : <input type="text" name="role" value=<%= user.User.roles.role  %>> <br>
        }, <br>
        settings{ <br>
                wrapUpOnIncoming : <input type="text" name="wrapUpOnIncoming" value=<%= user.User.settings.wrapUpOnIncoming  %>> <br>
        }, <br>
        state : <input type="text" name="state", value=<%= user.User.state  %>> <br>
        stateChangeTime : <input type="text" name="stateChangeTime" value=<%= user.User.stateChangeTime  %>> <br>
        teamId : <input type="text" name="teamId" value=<%= user.User.teamId  %>> <br>
        teamName : <input type="text" name="teamName" value=<%= user.User.teamName  %>> <br>
        uri : <input type="text" name="uri" value=<%= user.User.uri  %>> <br>
        <input type="submit" value="저장">
    </form>
</body>

</html>
